.Admin {
    width: 710px;
    margin: 30px auto;
    background-color: #3c40c6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    padding: 10px;

    input {
        background-color: #fff;
    }

    button {
        background-color: #3c40c6;
        border: none;
        margin-bottom: 20px;
        border: 2px solid #fff;
        font-weight: bold;
    }

    

    label {
        color: #fff;
    }

    
}

