.singleArticle {
    width: 710px;
    margin: 0 auto;

    img {
      width: 100%;
    }

    ul {
      padding-left: 0;
    }

    ul li {
      list-style: none;
    }

    ul li span {
      font-size: 25px;
      text-transform: capitalize;
      color: #0d6efd;
    }

    ul li p {
      margin-top: 15px;
      font-size: 18px;
    }
}